[submodule "taglib"]
	path = taglib
	url = https://github.com/taglib/taglib.git
[submodule "log"]
	path = log
	url = git@bitbucket.org:crunchengine/log.git
[submodule "network"]
	path = network
	url = git@bitbucket.org:crunchengine/network.git
[submodule "common"]
	path = common
	url = git@bitbucket.org:crunchengine/common.git
[submodule "system"]
	path = system
	url = git@bitbucket.org:crunchengine/system.git
